body {
    background-color: #e6ccff;
    font-family: "Times New Roman";
    margin: 20px;
}

#heading {
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.title {
    color: black;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #333;
}

.highlight {
    color: purple;
    font-weight: bold;
}

img {
    border: 3px solid black;
    display: block;
    margin: 10px auto;
    width: 300px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

ul {
    font-size: 18px;
}
